.tourismpress-admin-badge-good {
	display: inline;
	font-size: 13px;
	color: White;
	background-color: Green;
	padding: 4px 7px 4px 7px;
	border-radius: 2px;
	font-weight: bold;
	margin-left: 10px;
}

.tourismpress-admin-badge-bad {
	display: inline;
	font-size: 13px;
	color: White;
	background-color: #cc0000;
	padding: 4px 7px 4px 7px;
	border-radius: 2px;
	font-weight: bold;
	margin-left: 10px;
}



.collapsible-column {
	display: inline-block;
	width: calc(33% - 6px);
	padding: 0px 0px 0px 0px;
}

#attraction_details_section, 
#accommodation_details_section, 
#restaurant_details_section,
#event_details_section {
	margin: 20px 0px 0px 0px;
}

#attraction_details_section p, 
#accommodation_details_section p, 
#restaurant_details_section p,
#event_details_section p {
	padding: 8px 0px 8px 0px;
	margin: 0px;
}

#attraction_details_section input[type=text],
#accommodation_details_section input[type=text], 
#restaurant_details_section input[type=text],
#event_details_section input[type=text] {
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	border-bottom: 1px solid #cccccc;
	background-color: White;
	box-shadow: none;
	padding: 3px 0px 3px 0px;
	transition: border-color .3s;
	margin-bottom: 20px;
	margin: 0px;
}

#attraction_details_section input[type=text]:focus,
#accommodation_details_section input[type=text]:focus, 
#restaurant_details_section input[type=text]:focus,
#event_details_section input[type=text]:focus  {
	border-bottom: 2px solid #ff3b30;
}

#attraction_details_section label, 
#accommodation_details_section label, 
#restaurant_details_section label,
#event_details_section label {
	color: #999999;
	text-size: 13px;
}

#attraction_details_section label.error, 
#accommodation_details_section label.error, 
#restaurant_details_section label.error,
#event_details_section label.error {
	color: #ff3b30;
}

@media(max-width: 767px){
	.collapsible-column {
		display: block;
		width: 100%;
		padding: 0px 0px 0px 0px;
	}
}

.tourismpress-map {
	border: 1px solid #cccccc;
	height: 220px;
	background-color: White;
	margin-top: 5px;
}
