.tourismpress-map {
    border: 1px solid #cccccc;
    background-color: #eeeeee;
    background-image: url('../img/background-map.png');
    background-position: center center;
    background-repeat: no-repeat;
    height: 273px;
    margin-top: 3px;

    .map-callout-title {
        display: inline-block;
        margin-bottom: 1px;
        text-decoration: none;
        box-shadow: none;
        -webkit-box-shadow: none;

        &:hover {
            text-decoration: underline;
            box-shadow: none;
            -webkit-box-shadow: none;
        }
    }
}