.social-block {
	margin: 20px 0 20px 0;
}

a:link.social-link,
a:active.social-link,
a:hover.social-link,
a:visited.social-link {
	display: inline-block;
	font-size: 24px;
	line-height: 60px;
	text-align: center;
	width: 60px;
	color: White;

	&.facebook {
		background-color: #3b5998;
	}

	&.twitter {
		background-color: #55acee;
	}
	&.instagram {
		background-color: #9A5E4A;
	}
	&.website {
		background-color: #444444;
	}

	&.linkedin {
		background-color: #0077b5;
	}
} 